.footer {
  margin-top: 60px;
  padding-inline: 15px;
  .container {
    display: flex;
    gap: 30px;
    padding-bottom: 60px;
  }

  @media (max-width: 768px) {
    * {
      flex-direction: column;
    }
  }
}
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.footer-right {
  display: flex;
  gap: 30px;
  @media (max-width: 768px) {
    gap: 15px;
  }
  flex: 1;
  justify-content: space-between;
}

.footer-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-title {
  font-weight: 700;
  font-size: 1.1rem;
  p {
    font-size: 1.1rem;
  }
}

.footer-link {
  font-size: 0.85rem;
  color: $clr-light-dark;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
