$clr-white: #fff;
$clr-blue-light: #d5eff7;
$clr-dark-blue: #1890ff;
$clr-dark: #212529;
$clr-light-dark: #4a4a4a;
$clr-pink: #e92680;
$clr-grey: #dfdfdf;
$clr-dark-light: #0000008c;
$clr-blue: hsla(216, 97%, 56%, 0.71);
